

$bold-font-size: 24px;
$regular-font-size: 14px;
$regular-font-weight: 400;
$bold-font-weight: 700;

.heading {
  font-family: "Poppins", sans-serif;
  font-size: $bold-font-size;
  font-weight: $bold-font-weight;
}


