@import "./theme.scss";

.rzume-button-base {
  border-radius: 8px;
  height: 48px;
  border: none;
  cursor: pointer;
  display: flex;

  .button-elements {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:disabled {
    background-color: $light-gray;
    color: $gray;
    cursor: not-allowed;
  }
}

.rzume-button-primary {
  @extend .rzume-button-base;
  background-color: $rzume-blue;
  color: $white;
}

.rzume-button-secondary {
  @extend .rzume-button-base;
  background-color: $white;
  color: $rzume-blue;

}

.rzume-button-outline {
  @extend .rzume-button-base;
  background-color: transparent;
  border: 1px solid $rzume-blue;
  color: $rzume-blue;

}

.auth-container {
  height: 100%;
  display: flex;
  gap: 32px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .auth-top_view_elements {
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  @media (min-width: 600px) {
    gap: 48px;
  }

  .form-input-confirm-button {
    @extend .rzume-button-primary;

    margin-top: 48px;
  }
}

.status_container {
  border-radius: 24px;
  padding: 6px 10px;
  display: inline-flex;
}

.success_fail_icon {
  position: relative;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $light-gray;
  mat-icon {
    &#done {
      color: $basic-green;
    }

    &#close,
    &#warning {
      color: $warning;
    }
  }
}
