@import "./theme.scss";

.rzume-button {
  border-radius: 8px;
  height: 48px;
  background-color: $rzume-blue;

  .button-elements {

      display: flex;
      align-items: center;
      justify-content: center;

  }

  &:disabled {
    background-color: $light-grey;
  }
}

.auth-container {

  height: 100%;
  display: flex;
  gap: 32px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .auth-top_view_elements {
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  @media (min-width: 700px) {
    gap: 48px;
  }


  .form-input-container {
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 100%;
  }

  .form-input-confirm-button {
    @extend .rzume-button;

    margin-top: 48px;
  }
}

.success_fail_icon {
  position: relative;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $light-grey;
  mat-icon {
    &#done {
      color: $basic-green;
    }

    &#close {
      color: $warning
    }
  }
}




