$light-grey-color1: #F6F7F8;
$light-grey-color2: #C8CCD414;
$light-grey-color3: #C8CCD41A;
$light-grey-color4: #E3E4E6;
$light-grey-color5: #EDEDED;
$dark-grey-color1: #CBC8D4;
$dark-grey-color2: #707070;
$white-color: #ffff;
$navy-blue-color: #072635;
$pink-color: #FFE6F1;
$light-pink-color: #FFE6E9;
$light-blue-color: #E0F3FA;
$black-color: #000000;
$blue-violet-color: #F4F0FE;
$medium-purple-color1: #7E6CAB;
$dark-purple-color2: #8C6FE6;
$pale-violet-color: #C26EB4;
$hot-pink-color: #E66FD2;
$aquamarine-color: #01F0D0;
$light-green-color: #D8FCF7;