@if (showEmptyState) {
  <app-empty-state
    [title]="emptyState.title"
    [message]="emptyState.message"
    [icon]="emptyState.icon"
    [showAction]="emptyState.showAction"
    [actionText]="emptyState.actionText"
    (actionButtonClickedEvent)="onAction()"
  >
  </app-empty-state>
} @else if (!hasSearchResults) {
  <app-empty-state
    [title]="noResultsState.title"
    [message]="noResultsState.message"
    [icon]="noResultsState.icon"
    [showAction]="noResultsState.showAction"
  >
  </app-empty-state>
} @else {
  <ng-content></ng-content>
}
