@import '../../../../../styles.scss';
@import '../../../../styles/fonts.scss';

.profile-photo-upload {
  width: 100%;

}

.photo-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  @media (min-width: 599px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.photo-info {
  flex: 1;
  text-align: center;

  @media (min-width: 599px) {
    text-align: left;
  }

  .photo-label, .photo-description {
    display: none;

    @media (min-width: 599px) {
      display: block;
    }
  }

}

.change-photo-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  background-color: $white;
  border: 1px solid $rzume-blue;
  border-radius: 8px;
  color: $rzume-blue;
  cursor: pointer;
  transition: all 0.2s ease;

  .icon {
    font-size: 16px;
  }

  &:hover:not(:disabled) {
    background-color: $rzume-blue-light;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.photo-preview {
  position: relative;
  width: 80px;
  height: 80px;
  flex-shrink: 0;

  @media (min-width: 599px) {
    width: 120px;
    height: 120px;
  }
}

.profile-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

