<div class="profile-photo-upload">
  <div class="photo-section">
    <div class="photo-info">
      <h4 class="photo-label">{{ labels.PROFILE_PHOTO }}</h4>
      <p class="photo-description light_text">{{ labels.CHANGE_PHOTO_DESCRIPTION }}</p>
      <button 
        type="button" 
        class="change-photo-btn"
        (click)="triggerFileInput()"
        [disabled]="isLoading"
      >
      <img src="assets/icons/camera-icon.png" alt="camera icon">
      <p>{{ labels.CHANGE_PHOTO }}</p>
      </button>
      <p *ngIf="errorMessage" class="warning">{{ errorMessage }}</p>
    </div>
    
    <div class="photo-preview" >
      <img 
 
        [src]="displayPhotoUrl" 
        [alt]="labels.PROFILE_PHOTO"
        class="profile-image"
      />
      <div *ngIf="isLoading" class="loading-overlay">
        <div class="spinner"></div>
      </div>
    </div>
  </div>
  
  <input
    id="profile-photo-input"
    type="file"
    [accept]="ACCEPTED_IMAGE_TYPES"
    (change)="onFileSelected($event)"
    hidden
  />
</div>
