@import "../../styles/theme.scss";

.search-container {
  display: flex;
  align-items: center;
  border: 1px solid $light-gray;
  padding: 10px 16px;
  max-width: 400px;
  min-width: 250px;
  background-color: white;

  img {
    width: 24px;
    height: 24px;
  }
}

.search-input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;
  padding: 5px;

  &::placeholder {
    color: $light-gray;
  }
}
