@import "../../styles/theme.scss";

.search-container {
  display: flex;
  align-items: center;
  border: 1px solid $light-gray;
  padding: 10px 16px;
  width: 100%;
  background-color: white;

  img {
    width: 18px;
    height: 18px;

    @media (min-width: 950px) {
      width: 20px;
      height: 20px;
    }
  }

  
}

.search-input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;
  padding: 5px;

  &::placeholder {
    color: $light-gray;
  }
}
