@import "../../styles/fonts.scss";
@import "../../styles/theme.scss";

.role-card {
  display: flex;
  flex-direction: column;
  gap: $spacing-8;
  width: 100%;
  padding: $spacing-6;
  background-color: $grey-card-bg;
  border: 1.5px solid $grey-200;
  border-radius: 10px;
}

.role-card-header {
  display: flex;
  flex-direction: column;
  gap: $spacing-1;
}

.role-card-title {
  @include font-heading;
  font-size: $font-size-md;
  color: $grey-900;
  margin: 0;
}

.role-card-industry {
  @include font-body;
  font-size: $font-size-base;
  color: $grey-500;
  margin: 0;
}
