<div class="auth-mobile_content">
  <div class="auth-mobile_logo_section">
    <img
      src="assets/icons/rzume_logo_white.svg"
      alt="Rzume Logo"
      class="auth-logo_mobile"
    />
  </div>
  <div class="auth-mobile_text_section">
    <h1 class="auth-mobile_title">Job Searching Just Got Easier</h1>
    <p class="auth-mobile_description">
      Organize your applications, track interview stages, and get expert-backed tips — so you can focus on preparing, not stressing.
    </p>
  </div>
</div>
