@if (!isMobile) {
  <!-- Desktop/Tablet View - Horizontal Grid -->
  <div class="stat-highlight-container">
    @for (i of [1, 2, 3, 4]; track i) {
      <div class="stat-highlight-element">
        <div class="skeleton skeleton-text"></div>
        <div class="skeleton skeleton-number"></div>
      </div>
    }
  </div>
} @else {
  <!-- Mobile View - Carousel Skeleton -->
  <div class="mobile-carousel">
    <div class="carousel-skeleton">
      @for (i of [1, 2, 3]; track i) {
        <div class="carousel-item">
          <div class="skeleton skeleton-text"></div>
          <div class="skeleton skeleton-number"></div>
        </div>
      }
    </div>
  </div>
}
