@import "../../styles/theme.scss";

.password-checker-container {
  p.strength-description {
    &.weak {
      color: $warning;
    }
    &.medium {
      color: $amber;
    }
    &.strong {
      color: $basic-green;;
    }
  }
  .password-strength_indicator {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4px;
    margin-top: 10px;

    .password-stregth_bar {
      height: 4px;
      width: 100%;
      border-radius: 8px;

      &.weak {
        background-color: $warning;
      }
      &.medium {
        background-color: $amber;
      }
      &.strong {
        background-color: $basic-green;;
      }
    }
  }
}

