<div class="password-checker-container">
  @if (passwordStengthDescription != 'nan') {
    <div class="minor-element_flex">
      <p>Password Strength:</p>
      <p class="strength-description" [ngClass]="setPasswordStrengthClass()">{{passwordStengthDescription}}</p>
    </div>
    <div class="password-strength_indicator">
      @for (strengthBar of passwordStrengthArray(); track $index) {
      <div class="password-stregth_bar" [ngClass]="setPasswordStrengthClass()"></div>
      }
    </div>
  }

</div>
