<div class="sidebar_container">
  <div class="sidebar-header">
    <img
      id="rzume_logo"
      src="assets/icons/rzume_logo_text.png"
      alt="rzume logo"
    />
    <button class="close-button" (click)="onClose()" aria-label="Close sidebar">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="sidebar_menu">
    <p class="light_text">Menu</p>
    <div class="side_menu_items">
      @for (sideBarElement of sideBarElements; track $index) {
      <div
        class="side_menu_item"
        [routerLink]="sideBarElement.route"
        routerLinkActive="active"
      >
        <img class="side_menu_itm_icon" [src]="sideBarElement.icon" alt="" />
        <p>{{ sideBarElement.name }}</p>
      </div>
      }
    </div>
  </div>
</div>
