* {
  overflow: auto;
}

.auth-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  position: relative;
  padding: 20px;

  @media (min-width: 600px) {
    padding: 55px 52px;
  }


  .auth-elements {
    position: relative;
    display: grid;

    width: 100%;
    height: 100%;
    gap: 56px;

    @media (min-width: 601px) {
      grid-template-columns: 1fr 1fr;

    }

    .auth-left_element {

      display: none;
      @media (min-width: 601px) {
        display: block;
        background-image: url("../../../assets/images/auth-image.png");
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        border-radius: 30px;

      }
    }

    .auth-right_element {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;




      img {
        opacity: 0;
        width: 80px;


        @media (min-width: 601px) {
          width: 144px;
        }
      }

      .auth-route-elements {

        width: 100%;

          flex-grow: 1;

      }
    }

  }
}
