* {
  overflow: auto;
}

.auth-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  position: relative;
  padding: 0 24px;

  @media (min-width: 700px) {
    padding: 55px 52px;
  }




  .auth-elements {
    position: relative;
    display: grid;

    width: 100%;
    height: 100%;
    gap: 56px;

    @media (min-width: 700px) {
      grid-template-columns: 1fr 1fr;

    }

    .auth-left_element {

      display: none;
      @media (min-width: 700px) {
        display: block;
        background-image: url("../../../assets/images/auth-image.png");
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        border-radius: 30px;

      }
    }

    .auth-right_element {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;



      img {
        opacity: 0;
        width: 172px;
        margin-bottom: 60px;

        @media (min-width: 700px) {
          width: 250px;
          margin-bottom: unset;
        }
      }

      .auth-route-elements {

        width: 100%;
        @media (min-width: 700px) {
          flex-grow: 1;
        }
      }
    }

  }
}
