<section class="auth-container">
  <div class="auth-elements">
    <div class="auth-left_element">
      <div class="auth-left_content">
        <h1 class="auth-left_title">Job Searching Just Got Easier</h1>
        <p class="auth-left_description">
          Organize your applications, track interview stages, and get expert-backed tips — so you can focus on preparing, not stressing.
        </p>
      </div>
    </div>

    <div class="auth-right_element" [class.non-auth-layout]="!showAuthHeader()">
  <!-- Desktop content -->
  <img
    src="assets/icons/rzume_logo_text.png"
    alt="rzume logo"
    class="auth-logo_desktop"
    [@fadeInOut]="animationState"
  />

  <div class="auth-route-elements">
    <router-outlet></router-outlet>
  </div>
</div>
  </div>
</section>
