@import "../../../styles/theme.scss";

.signup-container {
  padding: 32px 0;
  height: 100%;
  display: flex;
  gap: 48px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .signup-form_inputs {
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 100%;
  }

  #terms-service-anchor,
  #terms-policy-anchor, #sign_in_anchor {
    cursor: pointer;
  }

  .signup-confirm_button {
    border-radius: 8px;
    height: 48px;
    background-color: $rzume-blue;
    margin-top: 48px;
  }
}
