@import "../../../styles/theme.scss";

.signup-container {
  padding: 32px 0;
  height: 100%;
  display: flex;
  gap: 48px;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  .signup-form_inputs {
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 100%;
  }




}
