<div class="signup-container">
  <div class="auth-top_view_elements">
    <h3>Create account</h3>
    <div class="signup-signin_route mobile_only">
      <p>
        Already have an account?
        <span>
          <a id="sign-in_anch" [routerLink]="signInRoute">Sign In</a></span
        >
      </p>
    </div>
  </div>

  <form [formGroup]="signupFormGroup" (ngSubmit)="submitSignupForm()">
    <div class="form-input-container">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="Enter your email"
          type="email"
          formControlName="email"
          name="email"
        />
        <mat-icon matSuffix>person</mat-icon>
        @if (email?.hasError('required')) {
        <mat-error> Email required </mat-error>
        } @if ( email?.hasError('email') ) {
        <mat-error> Please enter a valid mail </mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder="Enter your password"
          [type]="passwordVisibility"
          formControlName="password"
          name="password"
          (keyup)="validatePassword()"
        />
        <mat-icon matSuffix (click)="togglePasswordVisibility()">{{
          passwordVisibility === "password" ? "visibility_off" : "visibility"
        }}</mat-icon>

        @if (password?.hasError('required')) {
        <mat-error> Password required </mat-error>
        }
      </mat-form-field>
      <app-password-strength-checker></app-password-strength-checker>
      <div class="minor-element_flex">
        <mat-checkbox
          id="termsCheckbox"
          formControlName="termsChecked"
          data-cy="signup-terms-check"
        ></mat-checkbox>

        <p>
          I’ve read and agree with
          <span>
            <a
              id="terms-service-anchor"
              (click)="openTermsAndConditionsDialog()"
              >Terms of Service</a
            >
          </span>
          and our
          <span>
            <a (click)="openPrivacyDialog()" id="terms-policy-anchor"
              >Privacy Policy</a
            ></span
          >
        </p>
      </div>
      <div class="action_buttons">

      </div>
      <button
        class="form-input-confirm-button"
        mat-flat-button
        [disabled]="isBtnDisabled()"
        type="submit"
        id="signupBtn"
      >
        <div class="button-elements">
          @if (loaderIsActive) {
          <app-circular-loader></app-circular-loader>
          }

          <p>Create an Account</p>
        </div>
      </button>
      <div class="google_signup">
        <p>Or</p>
        <button
        class="google_btn"
        mat-flat-button
        [disabled]="isGoogleBtnDisabled()"
        type="submit"
        id="signupBtn"
      >
        <div class="button-elements">
          @if (loaderIsActive) {
          <app-circular-loader></app-circular-loader>
          }
          @if(!loaderIsActive) {
            <img id="google_icon" src="assets/icons/google.png" alt="">
          }
          <p>Signup with Google</p>
        </div>
      </button>
      </div>
    </div>
  </form>


  <div class="signup-signin_route desktop_only">
    <p>
      Already have an account?
      <span> <a id="sign-in_anch" [routerLink]="signInRoute">Sign In</a></span>
    </p>
  </div>
</div>
