<div class="add_job_container">
  <div class="title_elements">
    <h3 class="light_text">Add Job Application</h3>

    <button mat-icon-button (click)="cancelApplication()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <form
    [formGroup]="applicationFormGroup"
    (ngSubmit)="addApplication()"
    id="add_job_form"
  >
    <div class="form-input-container">
      <app-form-input 
        [config]="companyConfig" 
        [control]="applicationFormGroup.get('companyName')">
      </app-form-input>

      <app-form-input 
        [config]="roleConfig" 
        [control]="applicationFormGroup.get('position')">
      </app-form-input>

      <app-form-input 
        [config]="resumeConfig" 
        [control]="applicationFormGroup.get('resumeId')">
      </app-form-input>

      <app-form-input 
        [config]="jobLinkConfig" 
        [control]="applicationFormGroup.get('jobLink')">
      </app-form-input>

      <div class="application-status_date-container">
        <app-form-input 
          [config]="dateConfig" 
          [control]="applicationFormGroup.get('applicationDate')">
        </app-form-input>

        <app-form-input 
          [config]="statusConfig" 
          [control]="applicationFormGroup.get('status')">
        </app-form-input>
      </div>

      <button
        id="add_job_btn"
        mat-flat-button
        [disabled]="isBtnDisabled()"
        type="submit"
      >
        <div class="button-elements">
          @if (loaderIsActive) {
          <app-circular-loader></app-circular-loader>
          }

          <p>{{ editMode ? "Update" : "Add" + " Job Application" }}</p>
        </div>
      </button>
    </div>
  </form>
</div>
