@import "../../styles/general_styles.scss";

.add_job_container {
  padding: 24px;
  width: 100%;
  height: 100%;

  @media (min-width: 600px) {
    padding: 50px 60px;
    max-width: 555px;
    width: 80vw;
    height: auto;
  }

  .title_elements {
    display: flex;
    justify-content: space-between;
    h3 {
      font-size: 18px;

      @media (min-width: 600px) {
        font-size: 24px;
      }
    }
  }

  #add_job_form {
    margin-block: 24px;
  }

  .form-input-container {
    .mat-mdc-form-field {
      font-size: 14px;
    }

    .application-status_date-container {
      width: 100%;
      display: flex;
      gap: 14px;

      .form-field {
        flex: 1;
        margin-top: 20px;
      }
    }
  }

  #add_job_btn {
    @extend .rzume-button;
    p {
      font-size: 14px;

      @media (min-width: 600px) {
        font-size: initial;
      }
    }
  }
}
