@import "../../../styles/theme.scss";
@import "../../../styles/general_styles.scss";

.password-reset-container {
  @extend .auth-container;
  text-align: center;

  #reset_pass_strength {
    margin-bottom: 20px;
  }

  #back-to-login-btn {
    @extend .rzume-button;
    width: 100%;
  }

  .completed_request_icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;


    &.success {
      background-color: $basic-green
    }

    &.failed {
      background-color: $warning;
    }

    mat-icon {
      color: #fff;
      font-size: 40px;
      width: 40px;
      height: 40px;
    }
  }

}
