@import "../../../styles/theme.scss";
@import "../../../styles/general_styles.scss";

.password-reset-container {

  @extend .auth-container;
  text-align: center;

  #reset_pass_strength {
    margin-bottom: 20px;
  }

  .reset_action_btn {
    max-width: 500px;

    width: 100%;

    &.retry_btn {
      @extend .rzume-button-outline;
    }

    &.back_to_login {
      @extend .rzume-button-primary;

    }

    @media (min-width: 600px) {
      max-width: 200px;
    }

  }



  .completed_request_icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;



    &.success {
      background-color: $basic-green
    }

    &.failed {
      background-color: $warning;
    }

    mat-icon {
      color: #fff;
      font-size: 40px;
      width: 40px;
      height: 40px;
    }
  }

  .succes_screen_btns {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    gap: 20px;

    @media (min-width: 600px) {
      flex-direction: row;
      justify-content: center;
    }
  }

}
