<div class="password-reset-container">
  @if (activePasswordResetScreen === 'success') {
  <div class="completed_request_icon" [ngClass]="passwordResetCompleteicon === 'done'? 'success': 'failed'">
    <mat-icon [id]="passwordResetCompleteicon">{{
      passwordResetCompleteicon
    }}</mat-icon>
  </div>
  }
  <div class="auth-top_view_elements">
    @if (activePasswordResetScreen === 'form') {
      <h3>Reset Password</h3>
    } @else {
      <h3>Password Changed</h3>
      <p id="reset-complete-msg">{{ resetCompleteMessage }}</p>

    }

  </div>
  @if (activePasswordResetScreen === 'form') {
  <form [formGroup]="resetPassFormGroup" (ngSubmit)="submitSignupForm()">
    <div class="form-input-container">
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder="Enter your password"
          [type]="passwordVisibility"
          formControlName="password"
          name="password"
          (keyup)="validatePassword()"
        />
        <mat-icon
          matSuffix
          (click)="togglePasswordVisibility('passwordVisibility')"
          >{{
            passwordVisibility === "password" ? "visibility_off" : "visibility"
          }}</mat-icon
        >
        @if (password?.hasError('required')) {
        <mat-error> Password required </mat-error>
        }
      </mat-form-field>
      <div id="reset_pass_strength">
        <app-password-strength-checker></app-password-strength-checker>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          placeholder="Confirm your password"
          [type]="confirmPasswordVisibility"
          formControlName="confirmPassword"
          name="confirmPassword"
        />
        <mat-icon
          matSuffix
          (click)="togglePasswordVisibility('confirmPasswordVisibility')"
          >{{
            confirmPasswordVisibility === "password"
              ? "visibility_off"
              : "visibility"
          }}</mat-icon
        >
        @if ( confirmPassword?.hasError('required') ) {
        <mat-error> Please re-enter your password </mat-error>} @else if
        (confirmPassword?.invalid && !confirmPassword?.hasError('required')) {
        <mat-error> Passwords do not match </mat-error>
        }
      </mat-form-field>
      <button
        class="form-input-confirm-button"
        mat-flat-button
        [disabled]="isBtnDisabled()"
        type="submit"
        id="resetPassBtn"
      >
        <div class="button-elements">
          @if (loaderIsActive) {
          <app-circular-loader></app-circular-loader>
          }

          <p>Reset Password</p>
        </div>
      </button>
    </div>
  </form>
  } @else {

  <button id="back-to-login-btn" mat-flat-button type="button">
    Back to Login
  </button>
  }
</div>
