@import "../../../../styles/theme.scss";
@import "../../../../styles/fonts.scss";

.card-container {
  background-color: white;
  border: 1px solid $light-gray;
  border-radius: 24px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .card-header, .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .company-info {
    .company-name {
      font-size: $regular-font-size;
      font-weight: $regular-font-weight;
      color: $black;
    }
    .job-role {
      font-size: $small-font-size;
      color: $gray;
    }
  }

  .action-icons {
    display: flex;
  }

  .url-section {
    display: flex;
    align-items: center;
    gap: 8px;

    a {
      color: $gray;
      text-decoration: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 150px; 
      padding: 10px;
      background-color: $extra-light-gray;
      border-radius: 24px;
    }

    .copy-icon-button {
      padding: 10px;
      background-color: $extra-light-gray;
      border-radius: 24px;

      .copy-icon {
        color: $gray;
      }
    }
    
  }

  .date {
    font-size: $small-font-size;
    color: $gray;
    align-self: flex-end;
  }
}