<article class="card-container" (click)="triggerView(job)">
  <header class="card-header">
    <div class="company-info">
      <h4 class="company-name">{{ job.companyName }}</h4>
      <p class="job-role">{{ job.position }}</p>
    </div>
    <div class="action-icons" (click)="$event.stopPropagation()">
      <app-action-menu [actions]="jobActions" variant="menu"></app-action-menu>
    </div>
  </header>
  <footer class="card-footer">
    @if (job.jobLink) {
    <div class="url-section">

      <a [href]="job.jobLink" target="_blank" (click)="$event.stopPropagation()">{{ job.jobLink }}</a>
      <button mat-icon-button class="copy-icon-button" (click)="copyLink(job.jobLink); $event.stopPropagation()">
        <mat-icon class="copy-icon">content_copy</mat-icon>
      </button>
    </div>
    }
    <p class="date">{{ job.applicationDate | date: 'MMM dd yyyy' }}</p>
  </footer>
</article>
