@import "../../../styles/theme.scss";

.header_container {
  position: relative;
}
hr.header {
  border: 0;
  height: 1px;
  background-color: $light-gray;
  width: 100%;
  margin-top: 10px;

}

.section_upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;

  .menu-toggle {
    display: block;
 
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
    margin-right: 12px;

    mat-icon {
      font-size: 28px;
      color: $rzume-blue;
    }

    @media (min-width: 800px) {
      display: none; 
    }
  }

  .profile_img_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    #alert_icon {
      width: 24px;
    }
    .profile_pic {
      width: 56px;
      height: 56px;
      border: none;
      border-radius: 50%;
      background-color: $rzume-blue;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      overflow: hidden;
      cursor: pointer;
      transition: transform 0.2s ease-in-out;
      user-select: none;
      
      &:hover {
        transform: scale(1.05);
      }
      
      &:active {
        outline: none;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

}

.section_lower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
}
