@import "../../styles/general_styles.scss";


.google_signup {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;


  #google_icon {
    position: absolute;
    left: 10px;
    height: 34px;
    transform: translate(0, 50%);
    z-index: 2;
    border-radius:  8px;

  }

  .button-elements {
    width: 100%;
  }


  #google_btn {
    @extend .rzume-button-primary;
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-left: 42px;
    border: none;
    cursor: pointer;

    p {
      color: $white;
    }


    &:disabled {
      #google_icon {
        filter: grayscale(100%);
      }
    }


  }
}
