@import "../../../styles/theme.scss";
@import "../../../styles/general_styles.scss";

.login-container {
  @extend .auth-container;



.rememberCheck-forgotPass {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

}
