<div class="login-container">
  <div class="auth-top_view_elements">
    <h3>Log In</h3>
    <div class="login-signin_route mobile_only">
      <p>
        Don't have an account?
        <span>
          <a id="#sign_in_anchor" [routerLink]="signUpRoute"
            >Create Account</a
          ></span
        >
      </p>
    </div>
  </div>

  <form [formGroup]="loginFormGroup" (ngSubmit)="submitLoginForm()">
    <div class="form-input-container">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="Enter your email"
          type="email"
          formControlName="email"
          name="email"
        />
        <mat-icon matSuffix>person</mat-icon>

        @if (email?.hasError('required')) {

        <mat-error> Email required </mat-error>

        } @else if (email?.hasError('email')) {

        <mat-error> Please enter a valid mail </mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder="Enter your password"
          [type]="passwordVisibility"
          formControlName="password"
          name="password"
        />
        <mat-icon matSuffix (click)="togglePasswordVisibility()">{{
          passwordVisibility === "password" ? "visibility_off" : "visibility"
        }}</mat-icon>

        @if (password?.hasError('required')) {
        <mat-error> Password required </mat-error>
        }
      </mat-form-field>

      <div class="rememberCheck-forgotPass">
        <div class="minor-element_flex">
          <mat-checkbox
            id="remberMeCheck"
            formControlName="rememberMe"
            data-cy="rememberMe-terms-check"
          ></mat-checkbox>

          <p>Remember me</p>
        </div>
        <a id="#forgotPass_anchor" [routerLink]="forgotPassRoute"
          >Forgot Password?</a
        >
      </div>

      <div class="action_btns">
        <button
        class="form-input-confirm-button login_btn"
        mat-flat-button
        [disabled]="isBtnDisabled()"
        type="submit"
      >
        <div class="button-elements">
          @if (loaderIsActive) {
          <app-circular-loader></app-circular-loader>
          }

          <p>Continue</p>
        </div>
      </button>


      <p>Or</p>
      <app-google-sigin (tokenEmitter)="handleCredentialResponse($event)" (click)="triggerGoogleSignin()" [googleBtnText] ="googleSigninText"  ></app-google-sigin>
      </div>


    </div>
  </form>

  <div class="login-signin_route desktop_only">
    <p>
      Don't have an account?
      <span>
        <a id="#sign_in_anchor" [routerLink]="signUpRoute"
          >Create Account</a
        ></span
      >
    </p>
  </div>
</div>
