@import "../../../styles/theme.scss";
@import "../../../styles/general_styles.scss";

.login-container {
  @extend .auth-container;



.rememberCheck-forgotPass {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.action_btns {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 14px;

  .login_btn {
    width: 100%;
  }
}


}
