<div class="table_outer_container">
  <div class="table_container">
    <table class="custom-table">
      <app-table-header
        [columns]="columns"
        [allSelected]="allItemsSelected"
        (selectAll)="toggleAllSelections($event)"
      ></app-table-header>

      <app-table-body
        [data]="data"
        [columns]="columns"
        (checkBoxChanged)="onCheckboxChange($event.item, $event.event)"
        (edit)="editJobApplication()"
        (delete)="deleteJob()"
        (statusChange)="changeJobStatus($event)"
      ></app-table-body>
    </table>
  </div>
  <app-table-pagintion
    [totalPages]="totalPages"
    [currentPage]="currentPage"
    [itemsPerPage]="itemsPerPage"
    (itemsPerPageChanged)="onItemsPerPageChange($event)"
    (pageChanged)="onPageChange($event)"
  ></app-table-pagintion>

</div>
