@import "../../styles/theme.scss";
@import "../../styles/general_styles.scss";

.table_outer_container {
  .table_container {
    width: 100%;
    
  }

  .custom-table {
    width: 100%;
    border-collapse: collapse;
  }

}
