@import "../../styles/theme.scss";


.table_outer_container {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0px 24px 24px 24px;
  gap: 16px;
  height: 90%;

  .table_container {
    width: 100%;
    overflow: auto;
    min-height: 0;
  }

  .custom-table {
    width: 100%;
    min-width: 100%;
    border-collapse: collapse;
    table-layout: auto;

    app-table-header,
    app-table-body {
      display: contents;
    }
  }
}
