@import '../../../../styles/fonts.scss';
@import '../../../../styles/theme.scss';

.documents-view-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.header {
  h4 {
    margin: 0;
  }
}

.documents-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-grow: 1;   
  min-height: 0; 
  overflow-y: auto; 
}
