<div class="documents-view-container">
  <div class="header">
    <h4 class="light_text">Upload up to 2 resume files. Keep them current to make a strong impression.</h4>
  </div>

  <app-file-uploader (filesSelected)="onFilesSelected($event)"></app-file-uploader>

  <div class="documents-list">
    <app-document-item
      *ngFor="let doc of uploadedDocuments"
      [document]="doc"
      (delete)="onDeleteDocument($event)"
      (download)="onDownloadDocument($event)"
    ></app-document-item>
  </div>
</div>
