<div class="documents-view-container">
  <div class="header">
    <p class="light_text" *ngIf="!isUploadLimitReached">Upload up to {{ uploadLimit }} resume files. Keep them current to make a strong impression.</p>
    <p *ngIf="isUploadLimitReached" class="light_text warning" >
      You have reached your upload limit. Delete a document to upload a new one.
    </p>
  </div>

  <app-file-uploader 
    [isFileLimitReached]="isUploadLimitReached"
    (filesSelected)="onFilesSelected($event)" 
    [isUploading]="isUploading" 
    [maxFileSize]="maxFileSize">
  </app-file-uploader>

  <div class="documents-list">
    <app-document-item
      *ngFor="let doc of documents"
      [document]="doc"
      (delete)="onDeleteDocument($event)"
      (download)="onDownloadDocument($event)"
    ></app-document-item>
  </div>
</div>
