<div class="password-reset-request-container">
  <div class="auth-top_view_elements">
    <h3>Password Recovery</h3>
    <div class="login-signin_route">
      <p class="light_text">
        Enter Your email address and we’ll send you instructions to reset your
        password >
      </p>
    </div>
  </div>
  <form [formGroup]="passResetReqFormGroup" (ngSubmit)="submitForm()">
    <div class="form-input-container">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="Enter your email"
          type="email"
          formControlName="email"
          name="email"
        />
        <mat-icon matSuffix>person</mat-icon>
        <mat-error
          *ngIf="passResetReqFormGroup.controls['email'].hasError('required')"
        >
          Email required
        </mat-error>
        <mat-error
          *ngIf="passResetReqFormGroup.controls['email'].hasError('email')"
        >
          Please enter a valid mail
        </mat-error>
      </mat-form-field>

      <button
        class="form-input-confirm-button"
        mat-flat-button
        [disabled]="
          passResetReqFormGroup.invalid ||
          loaderIsActive ||
          timerValues.timer != 0
        "
        type="submit"
      >
        <div class="button-elements">
          @if (loaderIsActive) {
          <app-circular-loader></app-circular-loader>
          }

          <p>Send Instructions</p>
        </div>
      </button>
      @if (timerValues.timer != 0) {
      <p class="bold">
        Resend request in:
        <span
          ><p class="green_text">
            {{ this.timerValues.minutes }}:{{ computeDisplayedSeconds() }}
          </p></span
        >
      </p>

      }
    </div>
  </form>
</div>
