<div class="password-reset-request-container">
  <div class="auth-top_view_elements">
    <h3>Password Recovery</h3>
    <div class="login-signin_route">
      <p class="light_text">
        Enter Your email address and we’ll send you instructions to reset your
        password >
      </p>
    </div>
  </div>
  <form [formGroup]="passResetReqFormGroup" (ngSubmit)="submitForm()">
    <div class="form-input-container">
      <div class="form-field">
        <label for="email">Email</label>
        <div class="input-wrapper">
          <input
            id="email"
            class="form-input"
            [class.error]="getFieldError('email')"
            placeholder="Enter your email"
            type="email"
            formControlName="email"
            name="email"
            appFloatingLabel
          />
          <mat-icon>person</mat-icon>
        </div>
        <span *ngIf="getFieldError('email')" class="error-message">
          {{ getFieldError('email') }}
        </span>
      </div>

      <ng-container *ngIf="timerValues$ | async as timerData">
        <button
          class="form-input-confirm-button"
          mat-flat-button
          [disabled]="
            passResetReqFormGroup.invalid ||
            loaderIsActive ||
            timerData.timer !== 0
          "
          type="submit"
        >
          <div class="button-elements">
            <app-circular-loader *ngIf="loaderIsActive"></app-circular-loader>
            <p>Send Instructions</p>
          </div>
        </button>

        <p *ngIf="timerData.timer !== 0" class="bold">
          Resend request in:
          <span class="green_text">
            {{ timerData.minutes }}:{{
              timerData.seconds.toString().padStart(2, "0")
            }}
          </span>
        </p>
      </ng-container>
    </div>
  </form>
</div>
