@import "../../../styles/theme.scss";
@import "../../../styles/general_styles.scss";

.password-reset-request-container {
  @extend .auth-container;
  text-align: center;

.green_text {
  display: inline;
}
p.bold {
  margin-top: 14px;
}
}
