<div class="password-reset-request-container">
  <div class="auth-top_view_elements">
    <h3>Password Recovery</h3>
    <div class="login-signin_route">
      <p class="light_text">
        Enter Your email address and we’ll send you instructions to reset your
        password >
      </p>
    </div>
  </div>
  <form [formGroup]="passResetReqFormGroup" (ngSubmit)="submitForm()">
    <div class="form-input-container">
      <app-form-input 
        [config]="emailConfig" 
        [control]="passResetReqFormGroup.get('email')">
      </app-form-input>

      <ng-container *ngIf="timerValues$ | async as timerData">
        <button
          class="form-input-confirm-button"
          mat-flat-button
          [disabled]="
            passResetReqFormGroup.invalid ||
            loaderIsActive ||
            timerData.timer !== 0
          "
          type="submit"
        >
          <div class="button-elements">
            <app-circular-loader *ngIf="loaderIsActive"></app-circular-loader>
            <p>Send Instructions</p>
          </div>
        </button>

        <p *ngIf="timerData.timer !== 0" class="bold">
          Resend request in:
          <span class="green_text">
            {{ timerData.minutes }}:{{
              timerData.seconds.toString().padStart(2, "0")
            }}
          </span>
        </p>
      </ng-container>
    </div>
  </form>
</div>
