<div class="job-card-list-container">
  <app-job-card-tabs
    [tabs]="tabs"
    [activeTab]="activeTab"
    (tabChange)="handleTabChange($event)"
  >
  </app-job-card-tabs>

  <app-empty-state-wrapper
    [data]="jobs"
    [currentFilter]="currentFilter"
    (actionButtonClicked)="handleAddJobApplication()"
  >
    @if (useVirtualScroll && jobs.length > 10) {
      <cdk-virtual-scroll-viewport 
        [itemSize]="itemSize" 
        class="card-list-container virtual-scroll-viewport"
        #cardListContainer>
        <app-job-card-item
          *cdkVirtualFor="let job of jobs; trackBy: trackByJobId"
          [job]="job"
          (edit)="jobApplicationUpdate.emit($event)"
          (delete)="handleJobApplicationDelete($event)"
          (statusChange)="handleJobStatusUpdate($event)"
        >
        </app-job-card-item>
      </cdk-virtual-scroll-viewport>
    } @else {
      <div class="card-list-container" #cardListContainer>
        <app-job-card-item
          *ngFor="let job of jobs; trackBy: trackByJobId"
          [job]="job"
          (edit)="jobApplicationUpdate.emit($event)"
          (delete)="handleJobApplicationDelete($event)"
          (statusChange)="handleJobStatusUpdate($event)"
        >
        </app-job-card-item>
      </div>
    }
  </app-empty-state-wrapper>

  @if (!showEmptyState) {

  <button
    class="add_job_btn"
    mat-flat-button
    type="button"
    (click)="handleAddJobApplication()"
    [disabled]="isLoading"
  >
    @if (isLoading) {
    <app-circular-loader></app-circular-loader>
    } @else {
    <p>Add Job</p>
    }
  </button>
  }
</div>
