<div class="job-card-list-container">
  <app-job-card-tabs
    [tabs]="tabs"
    [activeTab]="activeTab"
    (tabChange)="handleTabChange($event)"
  >
  </app-job-card-tabs>

  <app-empty-state-wrapper 
    [data]="jobs" 
    [currentFilter]="currentFilter" 
    (actionButtonClicked)="handleAddJobApplication()"
  >
    <div class="card-list-container" #cardListContainer>
      <app-job-card-item
        *ngFor="let job of jobs"
        [job]="job"
        (edit)="jobApplicationUpdate.emit($event)"
        (delete)="handleJobApplicationDelete($event)"
        (statusChange)="handleJobStatusUpdate($event)"
      >
      </app-job-card-item>
    </div>
  </app-empty-state-wrapper>
  <button
    class="add_job_btn"
    mat-flat-button
    type="button"
    (click)="handleAddJobApplication()"
    [disabled]="isLoading"
  >
    @if (isLoading) {
      <app-circular-loader></app-circular-loader>
    } @else {
        <p>Add Job</p>
    }
  </button>
</div>
