<div class="document-item-container">
  <div class="document-info">
    <img [src]="getDocumentIcon()" [alt]="document.fileType || 'Document'" class="file-icon" />
    <div class="details">
      <p >{{ document.fileName }}</p>
      <p class="document-meta light_text">
        <span>{{ document.uploadedAt | date: 'dd MMM, yyyy' }}</span>
        <span>•</span>
        <span>{{ document.uploadedAt | date: 'h:mm a' }}</span>
        <span>•</span>
        <span *ngIf="document.fileSize">{{ formatSize(document.fileSize) }}</span>
      </p>
    </div>
  </div>

  <div class="document-actions">
    @if (actionsVariant === 'icons') {
      <div class="desktop-actions">
        <app-action-menu [actions]="documentActions" variant="icons"></app-action-menu>
      </div>

      <!-- Mobile view: vertical menu -->
      <div class="mobile-actions">
        <app-action-menu [actions]="documentActions" variant="menu"></app-action-menu>
      </div>
    } @else {
      <div class="menu-actions">
        <app-action-menu [actions]="documentActions" variant="menu"></app-action-menu>
      </div>
    }
  </div>
</div>
