@import "../../../styles/general_styles.scss";


.email-comfirm-container {
  @extend .auth-container;


  gap: 20px;

  #email-validation-btn {
    @extend .rzume-button-primary;
    margin-bottom: 80px;

  }

  p {
    text-align: center;
  }
}

