<div
  class="file-uploader-container"
  [class.dragging]="isDragging && !isUploading"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
  (drop)="onDrop($event)"
>
  <input
    type="file"
    #fileInput
    hidden
    multiple
    [accept]="allowedFileTypes.join(',')"
    (change)="onFileSelected($event)"
  />

  <div class="uploader-content">
    <img src="/assets/icons/upload-cloud.png" alt="Upload" class="upload-icon" />
    <p class="main-text">
      <a (click)="fileInput.click()">Click to upload</a> or drag and drop
    </p>
    <p class="sub-text">{{ fileRestrictionsText }}</p>
    <div class="separator">OR</div>
    <button id="browse-btn" mat-flat-button (click)="fileInput.click()" [disabled]="isUploading">
      <div *ngIf="isUploading" class="loading-content">
        <div class="spinner"></div>
        <p>Uploading ...</p>
      </div>
      <p *ngIf="!isUploading">Browse Files</p>
    </button>
  </div>
</div>
