@import "../../../../styles/fonts.scss";
@import "../../../../styles/theme.scss";
@import "../../../../styles/general_styles.scss";

.file-uploader-container {
  border: none;
  padding: 0;
  background: transparent;
  width: 100%;

  &.dragging {
    background: transparent;
    border: none;
  }
}

.uploader-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

.upload-icon,
.main-text,
.sub-text,
.separator {
  display: none;
}

#browse-btn {
  @extend .rzume-button-primary;
  width: 100%;

  @media (min-width: 600px) {
    width: auto;
  }

  .loading-content {
    display: flex;
    gap: 16px;
    align-items: center;
  }
}

@media (min-width: 600px) {
  .file-uploader-container {
    border: 2px dashed $light-gray;
    padding: 32px;
    background-color: $white;

    &.dragging {
      background-color: $rzume-blue-light;
      border-color: $rzume-blue;
    }
  }

  .uploader-content {
    gap: 12px;
  }

  .upload-icon,
  .main-text,
  .sub-text,
  .separator {
    display: block;
  }

  .separator { display: flex; }

}

.spinner {
  width: 20px;
  height: 20px;
  border: 3px solid $light-gray;
  border-top-color: $white;;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
