<div class="profile-view">
  <app-profile-photo-upload
    [photoUrl]="profilePhotoUrl"
    [isLoading]="isPhotoUploading"
    (photoSelected)="onPhotoSelected($event)"
  ></app-profile-photo-upload>

  <div class="personal-info-section">
    <div class="left-section">
      <h4>{{ labels.PERSONAL_INFO }}</h4>
      <p class="light_text">{{ labels.PERSONAL_INFO_DESCRIPTION }}</p>

      <div class="form-actions desktop">
        <button
          type="submit"
          id="save-btn"
          [disabled]="isLoading || !isFormDirty"
        >
          <span *ngIf="!isLoading">{{ labels.SAVE_CHANGES }}</span>
          <span *ngIf="isLoading" class="loading-text">Saving...</span>
        </button>
      </div>
    </div>

    <div class="right-section">
      <form
        [formGroup]="profileForm"
        (ngSubmit)="onSubmit()"
        class="profile-form"
      >

          <div class="form-field">
            <label for="firstName">
              {{ labels.FIRST_NAME }}</label>
            <input
              id="firstName"
              type="text"
              formControlName="firstName"
              class="form-input"
              [class.error]="getFieldError('firstName')"
            />
            <span *ngIf="getFieldError('firstName')" class="error-message">
              {{ getFieldError("firstName") }}
            </span>
          </div>

          <div class="form-field">
            <label for="lastName">{{ labels.LAST_NAME }}</label>
            <input
              id="lastName"
              type="text"
              formControlName="lastName"
              class="form-input"
              [class.error]="getFieldError('lastName')"
            />
            <span *ngIf="getFieldError('lastName')" class="error-message">
              {{ getFieldError("lastName") }}
            </span>
          </div>
 

        <div class="form-field full-width">
          <label for="email">{{ labels.EMAIL_ADDRESS }}</label>
          <input
            id="email"
            type="email"
            formControlName="email"
            class="form-input"
            readonly
          />
        </div>

        <div class="form-actions mobile">
        <button
          type="submit"
          mat-flat-button
          id="save-btn"
          [disabled]="isLoading || !isFormDirty"
        >
          <span *ngIf="!isLoading">{{ labels.SAVE_CHANGES }}</span>
          <span *ngIf="isLoading" class="loading-text">Saving...</span>
        </button>
      </div>
      </form>
    </div>
  </div>
</div>
