<tbody class="table-body">
  @for (item of data; track $index) {
  <tr (click)="onRowClick(item)">
    <td class="centered">
      <input
        type="checkbox"
        (change)="triggerCheckboxChange(item, $event)"
        (click)="$event.stopPropagation()"
        [(ngModel)]="item.selected"
        class="custom-checkbox"
      />
    </td>

    @for (col of columns; track $index) {
    <ng-container
      *ngTemplateOutlet="
        col.field === 'action' ? actionTemplate : normalTemplate;
        context: { $implicit: item, col: col }
      "
    >
    </ng-container>
    }
  </tr>
  }
</tbody>

<ng-template #normalTemplate let-item let-col="col">
  <td
    [ngClass]="
      getLongWidthItems(col.field)
        ? 'set_width_long'
        : getShortWidthItems(col.field)
        ? 'set_width_short'
        : ''
    "
  >
    <div
      class="row_element"
      [ngClass]="
        col.field === 'status' ? (item[col.field] || '').toLowerCase() : ''
      "
    >
      <p>
        @if (col.field === 'status') {
        {{ getStatusDisplayName(item[col.field]) }}
        } @else if (col.field === 'applicationDate') {
        {{ item[col.field]  | date:'MM/dd/yyyy' }}
        } @else {
        {{ (col.field === 'resume' ? item[col.field]?.fileName : item[col.field]) || "Not Provided" | truncate: 15 }}
        }
      </p>
    </div>
  </td>
</ng-template>

<ng-template #actionTemplate let-item>
  <td class="centered" (click)="$event.stopPropagation()">
    <app-action-menu [actions]="getRowActions(item)" variant="menu"></app-action-menu>
  </td>
</ng-template>
