<tbody class="table-body">
  @for (item of data; track $index) {
  <tr>
    <td class="centered">
      <input
        type="checkbox"
        (change)="triggerCheckboxChange(item, $event)"
        [(ngModel)]="item.selected"
        class="custom-checkbox"
      />
    </td>

    @for (col of columns; track $index) {
    <ng-container
      *ngTemplateOutlet="
        col.field === 'action' ? actionTemplate : normalTemplate;
        context: { $implicit: item, col: col }
      "
    >
    </ng-container>
    }
  </tr>
  }
</tbody>

<ng-template #normalTemplate let-item let-col="col">
  <td
    [ngClass]="
      getLongWidthItems(col.field)
        ? 'set_width_long'
        : getShortWidthItems(col.field)
        ? 'set_width_short'
        : ''
    "
  >
    <div
      class="row_element"
      [ngClass]="
        col.field === 'status' ? (item[col.field] || '').toLowerCase() : ''
      "
    >
      <p>
        @if (col.field === 'status') {
        {{ getStatusDisplayName(item[col.field]) }}
        } @else if (col.field === 'applicationDate') {
        {{ item[col.field]  | date:'MM/dd/yyyy' }}
        } @else {
        {{ (item[col.field] || "Not Provided") | truncate: 15 }}
        }
      </p>
    </div>
  </td>
</ng-template>

<ng-template #actionTemplate let-item>
  <td class="centered">
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="more options"
    >
      <mat-icon>more_horiz</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <ng-container *ngIf="!selectedItems?.length">
        <button mat-menu-item (click)="triggerApplicationEdit(item)">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item (click)="triggerStatusChange(item)">
          <mat-icon>swap_horiz</mat-icon>
          <span>Change Status</span>
        </button>
      </ng-container>
      <button mat-menu-item (click)="triggerDelete(item)">
        <mat-icon>delete</mat-icon>
        <span>Remove</span>
      </button>
    </mat-menu>
  </td>
</ng-template>
