@import "../../../styles/theme.scss";
@import "../../../styles/general_styles.scss";

.table-body {
  width: 100%;
}

tbody {
  width: 100%;
}

tr {
  width: 100%;
}

td {
  &.set_width_long {
    min-width: 160px;
    width: 25%;
  }

  &.set_width_short {
    min-width: 100px;
    width: 15%;
  }
  
  &.centered:first-child {
    width: 60px;
  }
  
  &:not(.set_width_long):not(.set_width_short):not(.centered) {
    width: auto;
  }
}

.row_element {
  &.applied {
    @extend .status_container;
    background-color: $light-gray;
  }
  
  &.wishlist {
    @extend .status_container;
    background-color: $light-gray;

    p {
      color: $gray;
    }
  }
  
  &.submitted {
    @extend .status_container;
    background-color: $amber-light;

    p {
      color: $amber;
    }
  }
  
  &.inprogress {
    @extend .status_container;
    background-color: $amber-light;

    p {
      color: $amber;
    }
  }
  
  &.offerreceived {
    @extend .status_container;
    background-color: $basic-green-light;

    p {
      color: $basic-green;
    }
  }
  
  &.rejected {
    @extend .status_container;
    background-color: $warning-light;

    p {
      color: $warning;
    }
  }
}

td {
  border-bottom: 1px solid $light-gray;
  padding: 20px 8px;

  &.centered {
    text-align: center;
  }
}
