@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import "./app/styles/theme.scss";

* {
  box-sizing: border-box;
  margin: 0;
}

form {
  width: 100%;
  max-width: 500px;
}

.mat-button,
.mat-raised-button,
.mat-icon-button,
.mat-fab,
.mat-mini-fab {
  border-radius: 10px; /* Change this value to the desired border-radius */
}

.blurred {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

a {
  cursor: pointer;
}



.minor-element_flex {
  display: flex;
  gap: 8px;
  align-items: center;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

h4 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

p,
a {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;

  @media (min-width: 700px) {
    font-size: 14px;
  }


}

p {
  &.green_text {
    color: $basic-green;
  }
  &.light_text{
    color: $grey;

  }
  &.bold {
    font-weight: 600;
  }
}



a {
  color: rgba(62, 127, 255, 1);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.desktop_only {
  display: none;

  @media (min-width: 700px) {
    display: block;
  }
}



.mobile_only {
  display: block;

  @media (min-width: 700px) {
    display: none;
  }

}


.custom-checkbox {
  position: relative;
  width: 14px;
  height: 14px;
  -webkit-appearance: none;
  appearance: none;
  background-color: $white;
  border: 1px solid $light-grey;
  border-radius: 4px;
  cursor: pointer;
  outline: none;

  &:checked {
    background-color: $rzume-blue;
    border-color: $rzume-blue;
  }

  &:checked::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 3.5px;
    width: 3px;
    height: 6px;
    border: solid $white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  &:hover {
    border-color: $rzume-blue;
  }

  &:focus {
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
  }

}
