@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import "./app/styles/theme.scss";

* {
  box-sizing: border-box;
  margin: 0;
}

form {
  width: 100%;
  max-width: 500px;
}

.mat-button,
.mat-raised-button,
.mat-icon-button,
.mat-fab,
.mat-mini-fab {
  border-radius: 10px; /* Change this value to the desired border-radius */
}

.blurred {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

a {
  cursor: pointer;
}



.minor-element_flex {
  display: flex;
  gap: 8px;
  align-items: center;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

h4 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

p,
a {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

p.light_text {
  color: $grey;
}

a {
  color: rgba(62, 127, 255, 1);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
