<div class="change_job_status">
  <div class="title_elements">
    <h3 class="light_text">Change Job Status</h3>

    <button mat-icon-button (click)="cancelAction()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <form
    [formGroup]="jobStatusForm"
    (ngSubmit)="changeJobStatus()"
    id="job_status_form"
  >
    <div class="form-input-container">
      <app-form-input 
        [config]="statusConfig" 
        [control]="jobStatusForm.get('status')">
      </app-form-input>

      <button
        id="update_status_btn"
        mat-flat-button
        [disabled]="loaderIsActive"
        type="submit"
      >
        <div class="button-elements">
          @if (loaderIsActive) {
          <app-circular-loader></app-circular-loader>
          }

          <p>Update Status</p>
        </div>
      </button>
    </div>
  </form>
</div>
