@import "../../styles/general_styles.scss";

.change_job_status {
  padding: 20px 30px;

  @media (min-width: 600px) {
    padding: 50px 60px;
    max-width: 500px;
    width: 80vw;
  }

  .title_elements {
    display: flex;
    justify-content: space-between;
  }

  #job_status_form {
    margin-block: 24px;
  }

  .form-input-container {
    justify-content: center;
    gap: 15px;
  }
  #update_status_btn {
    @extend .rzume-button-primary;
  }
}
