<div class="change_job_status">
  <div class="title_elements">
    <h3 class="light_text">Change Job Status</h3>

    <button mat-icon-button (click)="cancelAction()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <form
    [formGroup]="jobStatusForm"
    (ngSubmit)="changeJobStatus()"
    id="job_status_form"
  >
    <div class="form-input-container">
      <div class="form-field select-field">
        <label for="status">Application Status</label>
        <div class="input-wrapper">
          <select
            id="status"
            class="form-input form-select"
            [class.error]="getFieldError('status')"
            formControlName="status"
            appFloatingLabel>
            @for (option of applicationStatusOptions; track option.value) {
              <option [value]="option.value">{{ option.name }}</option>
            }
          </select>
        </div>
        <span *ngIf="getFieldError('status')" class="error-message">
          {{ getFieldError('status') }}
        </span>
      </div>

      <button
        id="update_status_btn"
        mat-flat-button
        [disabled]="loaderIsActive"
        type="submit"
      >
        <div class="button-elements">
          @if (loaderIsActive) {
          <app-circular-loader></app-circular-loader>
          }

          <p>Update Status</p>
        </div>
      </button>
    </div>
  </form>
</div>
