@import "../../styles/general_styles.scss";

.change_job_status {
  padding: 20px 30px;

  @media (min-width: 600px) {
    padding: 50px 60px;
    max-width: 500px;
    width: 80vw;
  }

  .title_elements {
    display: flex;
    justify-content: space-between;
  }

  #job_status_form {
    margin-block: 24px;
  }

  .form-input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;

    .form-select {
      appearance: none;
      padding-right: 48px;
      cursor: pointer;

      &::-ms-expand {
        display: none;
      }
    }
  }
  #update_status_btn {
    @extend .rzume-button;
  }
}
